@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@100..900&family=Lobster&family=Pacifico&family=Permanent+Marker&family=Playwrite+NZ+Basic:wght@100..400&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Saira:ital,wght@0,100..900;1,100..900&family=Skranji:wght@400;700&family=Titan+One&display=swap');
@import "tailwindcss";
@theme{
  --color-dark-100:#1a1a1a;
  --color-dark-200:#1f1f1f;
  --color-dark-300:#2d2d2d;
  --color-purple:#8B5CF6;
  --color-blue:#3B82F6;
  --color-pink:#EC4899;
}
*{font-family:Saira,sans-serif;margin: 0;}
.typewriter{
  overflow: hidden;
  border-right: 0.4rem solid #3b82f6;
  white-space:nowrap;
  width:0;
  animation:typing 3s steps(20,end) forwards,blink-caret 0.75s step-end 4;
}
@keyframes typing{
  from {width:0;}
  to {width: 15ch;}
}
@keyframes blink-caret{
  from,to{border-color:transparent ;}
  50%{border-color:#3b82f6 ;}}